<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ooops! Page does not exist</title>
</head>

<body>
    <div class="root">
    <img src="../../static/404.png">
        <h1>Page Not Found</h1>
        <br/>
        <div><a href="#">Go back to home</a></div>
        </div>
</body>
</html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="../../static/404.css">