<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expedite.ai</title>
</head>

<body>
    <div id="root">
        <div class="nav">
            <img src="/helpdesk/static/logo.png">
            <ul>
                <li class="active">Open Tickets</li>
                <li>Archived Tickets</li>
                <li>Closed Tickets</li>
            </ul>
        </div>
        <div class="page">
            <nav-list></nav-list>
            <ticket-list></ticket-list>
        </div>
    </div>
</body>

</html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/helpdesk/static/style.css">
<script src="/helpdesk/static/vue.js"></script>
<script src="/helpdesk/static/vue-router.js"></script>
<script src="/helpdesk/static/script.js"></script>
