<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expedite.ai</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
    <div id="root">
        <div class="nav">
            <img src="/static/logo.png">
            <ul>
                <a href="/helpdesk/issues/status/?q=1">
                    <li class="active">Open Tickets</li>
                </a>
                <a href="/helpdesk/issues/status/?q=2">
                    <li>Archived Tickets</li>
                </a>
                <a href="/helpdesk/issues/status/?q=3">
                    <li>Closed Tickets</li>
                </a>
            </ul>
        </div>
        <div class="page">
            <div class="sidebar"><span class="title">Support Categories</span>

                {% for each, value in issue_categories.items %}

                <div {% if each == active_category %} class="activeoption" {% endif %} >
                    <a href="/helpdesk/issues/category/?q={{ each }}">
                        <div class="sidebar-item">
                            <span class="type">{{ each.capitalize }}</span>
                            <span class="count">{{ value }}</span>
                        </div>
                    </a>
                </div>

                {% endfor %}

            </div>


            <div class="tickets">
                <style>
                 .ind-name { cursor: pointer; }
                 .ind-id { display: none; }
                </style>

                {% for each in issues %}
                <div class="ind">
                    <div class="name">
                        <div class="ind-name">{{ each.from_name }}</div>
                        <span class="ind-id">{{ each.comment_id }}</span>
                        <span class="actions">
                            <i class="material-icons done">done</i>
                            <i class="material-icons close">close</i>
                        </span>
                    </div>
                    <div class="issue">
                        {{ each.message }}
                    </div>
                </div>

                {% endfor %}

            </div>


            <div class="chatbox">
                <div class="titlebox">
                    <h1 class="chat-name">Sarthak Pattanayak</h1>
                    <button>Mark as spam</button>
                </div>
                <div class="chat-msg-container">
                    <div class="issue">I bought a Lenovo gaming headphones this summer. Order id: OD109205149477701000. Now the right side speakers dont work anymore....I would like to apply for warranty(the item is well within the warranty period).
                    </div>
                    <div class="reply">We’ll look into the issue. Have a nice day!
                </div>
                </div>
                <form class="send">
                    <input type="text">
                    <button type="submit"><img src="/static/input-btn.png"></button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/static/script.js"></script>
