<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expedite.ai</title>
</head>

<body>
    <div id="root">
        <div class="nav">
            <img src="../../static/logo.png">
            <ul>
                <a href="#"><li class="active">Open Tickets</li></a>
                    <a href="#"><li>Archived Tickets</li></a>
                    <a href="#"><li>Closed Tickets</li></a>
            </ul>
        </div>
        <div class="page">
            <div class="sidebar"><span class="title">Support Categories</span>
                <div class="activeoption">
                    <a href="#" class="sideoption">
                        <div class="sidebar-item"><span class="type">Where is my order</span><span class="count">12</span></div>
                    </a>
                </div>
                <div>
                    <a href="#" class="sideoption">
                        <div class="sidebar-item"><span class="type">Problem with my order</span><span class="count">9</span></div>
                    </a>
                </div>
                <div>
                    <a href="#" class="sideoption">
                        <div class="sidebar-item"><span class="type">Return and refund</span><span class="count">5</span></div>
                    </a>
                </div>
                <div>
                    <a href="#" class="sideoption">
                        <div class="sidebar-item"><span class="type">Change or cancel order</span><span class="count">2</span></div>
                    </a>
                </div>
                <div>
                    <a href="#" class="sideoption">
                        <div class="sidebar-item"><span class="type">Payment Issues</span><span class="count">11</span></div>
                    </a>
                </div>
                <div>
                    <a href="#" class="sideoption">
                        <div class="sidebar-item"><span class="type">Seller Issues</span><span class="count">22</span></div>
                    </a>
                </div>
                <div>
                    <a href="#" class="sideoption">
                        <div class="sidebar-item"><span class="type">Delivery Issues</span><span class="count">17</span></div>
                    </a>
                </div>
                <div>
                    <a href="#" class="sideoption">
                        <div class="sidebar-item"><span class="type">Promotion and deals</span><span class="count">14</span></div>
                    </a>
                </div>
                <div>
                    <a href="#" class="sideoption">
                        <div class="sidebar-item"><span class="type">More Order Issues</span><span class="count">4</span></div>
                    </a>
                </div>
            </div>


            <div class="tickets">
                <div class="ind"><div class="name">Sarthak Pattanayak</div><br/><div class="issue">I bought a Lenovo gaming headphones this summer. Order id: OD109205149477701000. Now the right side speakers dont work anymore....I would like to apply for warranty(the item is well within the warranty period).', 'Well fuck you flipkart</div>
                </div>
                <div class="ind"><div class="name">Ravi Mirchandani</div><br/><div class="issue">order id OD110399722905504000 cancelled as it was under an exchange , and the exchange piece was damaged by flipkart.focefully cancelled my order for which payment was made through bajaj fin emi. order cancelled on 08.10.2017 but still getting sms about emi due  the cancelled order', 'Thanks for responding nigga</div>
                </div>
                <div class="ind"><div class="name">Abhi silani</div><br/><div class="issue">Order ID: OD110564436656024000 Product(s): Unistuff Tempered Glass Guard for Mi Redmi Note 4, Redmi Note 4 (Black, 64 GB) and Kapaver Back Cover for Xiaomi Redmi Note 4. Flipkart cancelled the order without my authorization on 23rd Oct 2017. They wrote to me that amount has been refunded in my bank account on 25th october 2017, however, i checked with my HSBC bank in dubai (i have a record for conversation) that the amount is not yet credited. The response from flipkart is indifferent and usually too late', 'I already died asshole</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../../static/style.css">
<script src="../../static/script.js"></script>
